<h1>{{hotelName}}</h1>
<div [hidden]="hideRooms">
    Number of Rooms: 
    <div [innerText]="numberOfRooms"></div>
</div>


{{rooms.availableRooms ?? "no rooms"}}

<div *ngIf="rooms.availableRooms != undefined && rooms.availableRooms > 0">
    Rooms List
    <!--{{roomList}}-->
    <div>
    <table>
        <tr>
            <th>Index</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenties</th>
            <th>checkinTime</th>
        </tr>
        <tr *ngFor="let room of roomList; let e = even; let o = odd let i = index">
            <td>{{i}}</td>
            <td>{{e ? "Even" : "Odd"}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.price}}</td>
            <td>{{room.amenties}}</td>
            <td>{{room.checkinTime}}</td>
        </tr>
    </table>
 </div>


<button (click)="toggle()">Toggle</button>